@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap);

div, nav, footer {
    font-family: 'IBM Plex Sans';
}

.frame {
    height: 50rem;
    width: 60rem;
    border: 1px solid #444;
    border-radius: 8px;
    background: #8acbd4 !important;
}

.dark .frame {
    border: 1px solid #ccc;
    background: #333 !important;
}

body {
    margin: 0;
    padding: 5px;
    display: flex;
    background: #8acbd4;
    color: #333;
    padding-top: 70px;
}

.dark body {
    background: #333;
    color: #8acbd4;
}

.navbar {
    background-color: #222;
    padding: 8px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0,0,0,0.8);
}

.dark .navbar {
    background-color: #62a1a4;
    box-shadow: 0 5px 10px rgba(74,127,130,0.8);
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0px 15px;
}

.navbar ul li a {
    color: #8acbd4;
    text-decoration: none;
    padding: 0;
    transition: color 0.3s ease-in-out;
}

.dark .navbar ul li a {
    color: #333;
}

.navbar ul li a:hover {
    color: #62a1a4;
}

.dark .navbar ul li a:hover {
    color: #222;
}

.container-fluid {
    max-width: 1900px;
    margin: 1px auto 40px auto;
    padding: 10px;
    background-color: #62a1a4;
    border-radius: 8px;
}

.dark .container-fluid {
    background-color: #222;
}

.spinner {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.75);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ddd;
}

.spinner img {
    max-width: 25rem;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #62a1a4;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dark .button {
    background-color: #62a1a4;
    color: #333;
}

.button:hover {
    background-color: #222;
    color: #8acbd4;
    transform: scale(1.01);
}

.dark .button:hover {
    background-color: #8acbd4;
    color: #222;
}

.blur-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

.bg-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px) brightness(0.75);
    z-index: 0;
}

.content-table {
    position: relative;
    z-index: 1;
}

.table-striped {
    background-size: cover;
    background-position: center;
}

.table-striped tbody tr td {
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.5);
}

input, textarea {
    padding: 0 8px;
}

input, textarea, select, #statSelector, #graphSelector {
    border-radius: 5px;
    background-color: #8acbd4;
    color: #333;
}

.dark input, .dark textarea, .dark select, .dark #statSelector, .dark #graphSelector {
    background-color: #333;
    color: #8acbd4;
}

#settings_form input {
    width: 25rem;
}

footer {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: #62a1a4;
    padding: 0;
    box-shadow: 0 -3px 7px rgba(0,0,0,0.6);
}

.dark footer {
    background-color: #62a1a4;
    color: #222;
    box-shadow: 0 -3px 7px rgba(74,127,130,0.6);
}

footer p {
    margin: 0;
    padding: 10px;
}

.left-foot {
    float: left;
}

.right-foot {
    float: right;
}
