body {
    margin: 0;
    display: flex;
}

.frame {
    height: 50rem;
    width: 50rem;
    border: 1px solid #ccc;
}

/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background: #818faa;
    color: #333;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: fixed; /* Makes the navbar stick to the top */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures the navbar is above other content */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 5px 10px;
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: center; /* Center the navigation items */
}

.navbar ul li {
    margin: 5px 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    transition: color 0.3s ease-in-out;
}

.navbar ul li a:hover {
    color: #ddd;
}

/* Content Area Adjustment */
/* Add padding to the body or a main content div to prevent content from being hidden behind the fixed navbar */
body {
    padding-top: 70px; /* Adjust this value based on your navbar's height */
}

/* Basic Container for Content */
.container {
    max-width: 1900px;
    margin: 1px auto;
    padding: 10px;
    background-color: #6a7894;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
