{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>about</h1>
    </div>
    <p class="text-info mb-4">Learn more about this application, version information, and licensing details.</p>

    <hr class="my-8 border-dashed border-gray-300 dark:border-gray-600">

    <h2 class="text-2xl font-bold mb-4">🍪 Contributors 🍪</h2>
    <p class="text-sm text-gray-600 dark:text-gray-400 mb-2">
        Special thanks to everyone who has supported this project, your support helps keep this project alive and growing!
    </p>
    <p class="text-sm text-gray-600 dark:text-gray-400 mb-6">
        Whether monetarily or through pull requests, we appreciate you!
    </p>

    <div class="border-1 border-yellow-400 dark:border-yellow-500 rounded-lg p-2 w-25 mb-2">
        <div class="grid grid-cols-2 gap-2 w-100">
            <div class="flex w-100 items-center space-x-3 p-3 bg-[#8acbd4] dark:bg-[#62a1a4] rounded-lg">
                <div class="w-20 h-10 bg-[#62a1a4] dark:bg-[#8acbd4] rounded-full flex items-center justify-center text-[#333] font-bold">
                    Ko-Fi
                </div>
                <div class="font-semibold text-[#333]">@baggins</div>
            </div>
            <div class="flex w-100 items-center space-x-3 p-3 bg-[#8acbd4] dark:bg-[#62a1a4] rounded-lg">
                <div class="w-20 h-10 bg-[#62a1a4] dark:bg-[#8acbd4] rounded-full flex items-center justify-center text-[#333] font-bold">
                    GitHub
                </div>
                <div class="font-semibold text-[#333]">@dreondre</div>
            </div>
        </div>
    </div>

    <div class="border-1 border-green-400 dark:border-green-500 rounded-lg p-2 w-25 mb-2">
        <div class="grid grid-cols-2 gap-2 w-100">
            <div class="flex w-100 items-center space-x-3 p-3 bg-[#8acbd4] dark:bg-[#62a1a4] rounded-lg">
                <div class="w-20 h-10 bg-[#62a1a4] dark:bg-[#8acbd4] rounded-full flex items-center justify-center text-[#333] font-bold">
                    Ko-Fi
                </div>
                <div class="font-semibold text-[#333]">@taehatypes</div>
            </div>
            <div class="flex w-100 items-center space-x-3 p-3 bg-[#8acbd4] dark:bg-[#62a1a4] rounded-lg">
                <div class="w-20 h-10 bg-[#62a1a4] dark:bg-[#8acbd4] rounded-full flex items-center justify-center text-[#333] font-bold">
                    GitHub
                </div>
                <div class="font-semibold text-[#333]">@quinneydavid</div>
            </div>
        </div>
    </div>

    <hr class="my-8 border-dashed border-gray-300 dark:border-gray-600">
  
    <dl class="grid grid-cols-1 sm:grid-cols-1 gap-3 text-lg leading-tight">
        <div class="sm:col-span-2">
            <dt class="font-semibold dark:border-gray-300">Version</dt>
            <dd class="mt-1 text-sm">{{ version }}</dd>
        </div>
        <div class="sm:col-span-2">
            <dt class="font-semibold dark:border-gray-300">Published</dt>
            <dd class="mt-1 text-sm">{{ publish_date }}</dd>
        </div>
        <div class="sm:col-span-2">
            <dt class="font-semibold dark:border-gray-300">License</dt>
            <dd class="mt-1 text-sm">MIT</dd>
        </div>
        <div>
            <dt class="font-semibold dark:border-gray-300">Check out our other project</dt>
            <a target="_blank" href="https://github.com/yungsnuzzy/conjurr">conjurr</a>
            <p>AI Recommendations for your users</p>
            <a target="_blank" href="https://github.com/yungsnuzzy/autoytdlp">autoytdlp</a>
            <p>Automated YouTube downloader and processor</p>
            <a target="_blank" href="https://github.com/jma1ice/scorepad">ScorePad</a>
            <p>Scorekeeping site for card games</p>
            <a target="_blank" href="https://github.com/jma1ice/focus">FOCUS</a>
            <p>Productivity app to help keep your projects on track</p>
            <a target="_blank" href="https://github.com/jma1ice/onairr">OnAirr</a>
            <p>Minimal Plex 'Now Streaming' interface</p>
            <a target="_blank" href="https://ko-fi.com/newsletterr">Tip the developers!</a>
        </div>
    </dl>

    <hr class="my-8 border-dashed border-gray-300 dark:border-gray-600">

    <h2 class="text-2xl font-bold mb-4">Credits & Libraries</h2>
    <ul class="list-disc list-inside space-y-2 text-sm">
        <li>Python Flask 3.x</li>
        <li>Tautulli API</li>
        <li>Highcharts for interactive graphs</li>
        <li>Tailwind CSS + Bootstrap utilities</li>
    </ul>

    <hr class="my-8 border-dashed border-gray-300 dark:border-gray-600">

    <h2 class="text-2xl font-bold mb-2">Recent Changes</h2>
    <dt class="font-semibold dark:border-gray-300">Fixes:</dt>
    <ul class="list-disc list-inside space-y-2 text-sm mb-2">
        <li>Some CSS Optimizations for mobile - more still in the works</li>
        <li>Timeout on safe_get() extended to 120s so that conjurr api call has enough time to generate the recommendations</li>
        <li>Fixed authentication issue with /proxy-art that made art unavailble in the sent email if a login page was set up</li>
        <li>Fixed a bug where libraries that share name similarities were causing both libraries to be pulled into the 'recently added' snap in</li>
        <li>Fixed graph hanging bug by moving some variable declarations higher and packaging highcharts with the app instead of calls to the CDN</li>
        <li>While we're at it, moved all CDN calls to local files</li>
        <li>Fixed missing smtp_username variable from scheduled email send logic</li>
        <li>Added consistent headers to avoid repeated 'New Device Connected' notifications on Plex API calls</li>
    </ul>
    <dt class="font-semibold dark:border-gray-300">New Features:</dt>
    <ul class="list-disc list-inside space-y-2 text-sm mb-2">
        <li>GitHub link is now a stylized logo</li>
        <li>Page no longer reloads on stats/users pull</li>
    </ul>
</div>
{% endblock %}
