{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>about</h1>
    </div>
    <p class="text-info mb-4">Learn more about this application, version information, and licensing details.</p>
  
    <dl class="grid grid-cols-1 sm:grid-cols-1 gap-3 text-lg leading-tight">
        <div class="sm:col-span-2">
            <dt class="font-semibold dark:border-gray-300">Version</dt>
            <dd class="mt-1 text-sm">{{ version }}</dd>
        </div>
        <div class="sm:col-span-2">
            <dt class="font-semibold dark:border-gray-300">Published</dt>
            <dd class="mt-1 text-sm">{{ publish_date }}</dd>
        </div>
        <div class="sm:col-span-2">
            <dt class="font-semibold dark:border-gray-300">License</dt>
            <dd class="mt-1 text-sm">MIT</dd>
        </div>
        <div>
            <dt class="font-semibold dark:border-gray-300">Check out our other project</dt>
            <a target="_blank" href="https://github.com/yungsnuzzy/conjurr">conjurr</a><br><br>
            <a target="_blank" href="https://ko-fi.com/newsletterr">Tip the developers!</a>
        </div>
    </dl>

    <hr class="my-8 border-dashed border-gray-300 dark:border-gray-600">

    <h2 class="text-2xl font-bold mb-4">Credits & Libraries</h2>
    <ul class="list-disc list-inside space-y-2 text-sm">
        <li>Python Flask 3.x</li>
        <li>Tautulli API</li>
        <li>Highcharts for interactive graphs</li>
        <li>Tailwind CSS + Bootstrap utilities</li>
        <li>html2canvas for PNG rendering of charts</li>
    </ul>

    <hr class="my-8 border-dashed border-gray-300 dark:border-gray-600">

    <h2 class="text-2xl font-bold mb-4">Recent Changes</h2>
    <ul class="list-disc list-inside space-y-2 text-sm">
        <li>Adjusted tautulli API error reporting</li>
        <li>Fixed app crash when Tautulli settings are missing - thank you dreondre!</li>
        <li>Reply-To field in settings</li>
    </ul>
</div>
{% endblock %}
